CONECTAR AL REPOSITORIO DE GITHUB

In [103]:
username = 'karencl'
token = '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'
repo = 'SemanaTec'

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
!git clone https://github.com/karencl/SemanaTec.git

Cloning into 'SemanaTec'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

CAMBIOS EN EL README.MD - MASTER (main)

In [10]:
%cd SemanaTec

/content/SemanaTec

In [11]:
!pwd

/content/SemanaTec

In [12]:
!ls
!cat README.md

README.md
# SemanaTec

In [31]:
!git branch

* master

In [80]:
!git init

Reinitialized existing Git repository in /content/SemanaTec/.git/

In [97]:
%cd SemanaTec

/content/SemanaTec/SemanaTec

In [81]:
!git config --global user.email "a01704254@itesm.mx"

!git config --global user.name "karencl"

In [112]:
!echo "\nEditando mi repositorio de github!" >> README.md

In [107]:
!git add .

In [108]:
!git commit -m "Cambio en el README"

[master a1790c6] Cambio en el README
 1 file changed, 1 insertion(+), 1 deletion(-)

In [111]:
!git push

Counting objects: 3, done.
Writing objects: 100% (3/3), 295 bytes | 295.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/karencl/SemanaTec.git
   0da6e56..a1790c6  master -> master

SUBIR EL ARCHIVO

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving netflix_titles.csv to netflix_titles.csv
User uploaded file "netflix_titles.csv" with length 3000491 bytes

In [3]:
import pandas as pd
import numpy as np

CARGARLO EN UN DATA FRAME

In [4]:
df = pd.read_csv('netflix_titles.csv')

DESPLEGAR LAS PRIMERAS 5 LÍNEAS

In [5]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

FUNCIÓN PARA DESPLEGAR EL PRIMER RENGLÓN DE EL DF

In [7]:
def the_first():
  return df[0:1]

the_first()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

FUNCIÓN QUE REGRESE EL NÚMERO DE REGISTROS EN EL DF

In [11]:
def row_number():
  return len(df.index)

row_number()

7787

FUNCIÓN QUE DESPLIEGUE LAS PELÍCULAS CON UN "release_year" DETERMINADO

In [12]:
def released_year(year):
  return df[df.release_year == year]

year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

FUNCIÓN QUE DESPLIEGUE LAS PELÍCULAS CON UN "country" DETERMINADO

In [13]:
def origin_country(country):
  return df[df.country == country]

country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

NUEVO DATAFRAME CON LAS COLUMNAS: "type", "title", "country" y "release_year"

In [63]:
df2 = pd.DataFrame(df, columns = ['type','title','country','release_year'])
df2

,type,title,country,release_year
0,TV Show,3%,Brazil,2020
1,Movie,7:19,Mexico,2016
2,Movie,23:59,Singapore,2011
3,Movie,9,United States,2009
4,Movie,21,United States,2008
...,...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...",2005
7783,Movie,Zubaan,India,2015
7784,Movie,Zulu Man in Japan,NaN,2019
7785,TV Show,Zumbo's Just Desserts,Australia,2019
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States",2019

DESPLIEGA CUANTOS TIPOS DE PRODUCCIONES (type) SE HICIERON POR PAÍS DETERMINADO (country)

In [77]:
def types_for_country(_country):
  d = df[df.country == _country]
  if (len(d[d['type'].isin(['Movie'])]) & len(d[d['type'].isin(['TV Show'])])):
    return 2
  elif (len(d[d['type'].isin(['Movie'])]) ^ len(d[d['type'].isin(['TV Show'])])):
    return 1
  return 0

_country = 'Brazil'
types_for_country(_country)

2

FUNCIÓN QUE DESPLIEGUE EL CUADRADO DE UN NÚMERO

In [32]:
def square(x):
  return x*x

square(8)

64

GENERE EL CUADRADO DE TODOS LOS VALORES DEL SIGUIENTE DATAFRAME USANDO "apply"

In [55]:
df3 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df3

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

In [57]:
df3.apply(square)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500